<form [formGroup]="myForm" (ngSubmit)="mySubmit(myForm.value)">
  <input type="text" formControlName="imie">
  <input type="rok urodzenia" formControlName="yob">
  <button type="submit">OK</button>
  <div *ngIf="imie.hasError('required')"><p>Imie wymagane</p></div>
  <div *ngIf="imie.hasError('bolekValue')"><p>Bolek won!</p></div>
  <div *ngIf="imie.hasError('minlength')"><p>Proszę minimum 3 znaki</p></div>
</form>

<div>
  <p *ngFor="let person of personService.persons">{{person.imie}}, {{person.yob}}</p>
</div>
